In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [5]:
dff = pd.read_csv('3_Data.csv')

In [6]:
dff

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [7]:
dff.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
dff.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
dff.shape

(7043, 21)

In [10]:
dff = dff.drop_duplicates()

In [11]:
#Check for Inconsistent Data
# Check unique values for each categorical column
for col in dff.select_dtypes(include='object').columns:
    print(f"unique values in '{col}' : {dff[col].unique()}")

unique values in 'customerID' : ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
unique values in 'gender' : ['Female' 'Male']
unique values in 'Partner' : ['Yes' 'No']
unique values in 'Dependents' : ['No' 'Yes']
unique values in 'PhoneService' : ['No' 'Yes']
unique values in 'MultipleLines' : ['No phone service' 'No' 'Yes']
unique values in 'InternetService' : ['DSL' 'Fiber optic' 'No']
unique values in 'OnlineSecurity' : ['No' 'Yes' 'No internet service']
unique values in 'OnlineBackup' : ['Yes' 'No' 'No internet service']
unique values in 'DeviceProtection' : ['No' 'Yes' 'No internet service']
unique values in 'TechSupport' : ['No' 'Yes' 'No internet service']
unique values in 'StreamingTV' : ['No' 'Yes' 'No internet service']
unique values in 'StreamingMovies' : ['No' 'Yes' 'No internet service']
unique values in 'Contract' : ['Month-to-month' 'One year' 'Two year']
unique values in 'PaperlessBilling' : ['Yes' 'No']
unique values in 'PaymentMethod' : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
unique values in 'TotalCharges' : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
unique values in 'Churn' : ['No' 'Yes']

In [12]:
# Standardize values if needed, e.g., 'PaymentMethod'
dff['PaymentMethod'] = dff['PaymentMethod'].str.strip().str.lower()

In [13]:
# Convert Columns to Correct Data Types

# Convert 'SeniorCitizen' from integer to boolean (1=True, 0=False)
dff['SeniorCitizen'] = dff['SeniorCitizen'].astype(bool)

In [14]:
# Convert 'tenure', 'MonthlyCharges', 'TotalCharges' to float
dff['tenure'] = dff['tenure'].astype(int)
dff['MonthlyCharges'] = dff['MonthlyCharges'].astype(float)

In [19]:
#Identify and Handle Outliers using IQR method

# Convert columns to numeric, handling non-numeric values
for col in ['tenure', 'MonthlyCharges', 'TotalCharges']:
    dff[col] = pd.to_numeric(dff[col], errors='coerce')
    
def handle_outlier(column):
    Q1 = dff[column].quantile(0.25)
    Q3 = dff[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    dff[column] = np.where(dff[column] < lower_bound , lower_bound , dff[column])
    dff[column] = np.where(dff[column] > upper_bound , lower_bound , dff[column])
    
for col in ['tenure','MonthlyCharges','TotalCharges']:
    handle_outlier(col)

In [21]:
print(dff[['tenure', 'MonthlyCharges', 'TotalCharges']].head())

   tenure  MonthlyCharges  TotalCharges
0     1.0           29.85         29.85
1    34.0           56.95       1889.50
2     2.0           53.85        108.15
3    45.0           42.30       1840.75
4     2.0           70.70        151.65

In [25]:
#Feature Engineering
dff['AverageChargesPerTenure'] = dff['MonthlyCharges'] / (dff['tenure'] + 1)  # Avoid division by zero
dff['AverageChargesPerTenure']

0       14.925000
1        1.627143
2       17.950000
3        0.919565
4       23.566667
          ...
7038     3.392000
7039     1.413699
7040     2.466667
7041    14.880000
7042     1.576866
Name: AverageChargesPerTenure, Length: 7043, dtype: float64

In [26]:
dff['HasDependents'] = np.where(dff['Dependents'] == 'Yes', 1, 0)

In [27]:
dff['HasDependents']

0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    1
7041    0
7042    0
Name: HasDependents, Length: 7043, dtype: int32

In [30]:
#Normalization

from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
dff['TotalCharges_normalized'] = min_max_scaler.fit_transform(dff[['TotalCharges']])
dff[['TotalCharges','TotalCharges_normalized']].head()

   TotalCharges  TotalCharges_normalized
0         29.85                 0.001275
1       1889.50                 0.215867
2        108.15                 0.010310
3       1840.75                 0.210241
4        151.65                 0.015330

In [34]:
# Scaling

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
dff['MonthlyChargesScaled'] = scaler.fit_transform(dff[['MonthlyCharges']])
dff[['MonthlyCharges', 'MonthlyChargesScaled']].head()

   MonthlyCharges  MonthlyChargesScaled
0           29.85             -1.160323
1           56.95             -0.259629
2           53.85             -0.362660
3           42.30             -0.746535
4           70.70              0.197365

In [37]:
#Split the Data
from sklearn.model_selection import train_test_split
# Define features (X) and target (y)
features = ['tenure', 'MonthlyCharges', 'TotalCharges', 'AverageChargesPerTenure', 
            'MonthlyChargesScaled', 'TotalCharges_normalized']
X = dff[features]
y = dff['Churn']
# Split the data into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
print(f"Training set size: {X_train.shape}, {y_train.shape}")
print(f"Testing set size: {X_test.shape}, {y_test.shape}")

Training set size: (5634, 6), (5634,)
Testing set size: (1409, 6), (1409,)

In [39]:
dff.to_csv('cleaned_customer_data.csv', index=False)